* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: auto;
}
body {
  position: relative;
  display: block;
}

/* --------Header CSS-------- */
.header {
  height: 50px;
  background-color: #f6f8f9;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: inherit;
  align-items: center;
  font-weight: bold;
  color: #fa6980;
  font-size: 20px;
  margin: 0 10px;
}
.header a {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: #343638;
  opacity: 0.5;
  margin: 0 20px;
}
.header img {
  margin: 0 20px;
  height: 30px;
  width: 30px;
  opacity: 1;
}
.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* --------Main CSS-------- */
.main {
}
.landing-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.title-image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.author {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 20px 0;
}
.l-box {
  height: 80%;
  width: 30%;
  padding-right: 10px;
}
.r-box {
  margin-left: 20px;
  height: 80%;
  width: 60%;
  border-left-color: #ebeded;
  border-left-style: solid;
  border-left-width: 2px;
  padding: 20px;
}
.m-detail {
  color: #a6adb4;
  size: 14px;
  margin: 20px 0;
  border-bottom-style: dashed;
  border-bottom-color: #ebeded;
  border-bottom-width: 2px;
  padding: 0 0 20px 0;
}
.t-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.t-heading h2 {
  margin-left: 5px;
}
.t-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: #a6adb4;
  margin-top: 10px;
}
.testimonials {
  margin-bottom: 20px;
}
.testimonials > p {
  font-style: italic;
}
.t-postImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.t-time a {
  color: #a6adb4;
  font-style: italic;
}

/* --------Footer CSS-------- */
.footer {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: #a6adb4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
.box {
  /* border: 1px solid blue; */
  width: 378px;
  height: 82px;
  display: flex;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.box2 {
  /* border: 1px solid blue; */
  width: 378px;
  height: 82px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.box2 p {
  color: #cbd0d3;
  font-size: 11px;
  margin-top: 10px;
}
.box2 input {
  border: 2px solid #ffffff;
  border-right: 0px;
  border-radius: 6px 0 0 6px;
  outline: none;
  opacity: 0.1;
  width: 242px;
  height: 40px;
  background-color: #a6adb4;
}
.box2-mailSend {
  display: flex;
}
.box2-send {
  border: 2px solid rgba(255, 255, 255,0.1);
  border-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px 6px 0;
  background-color: #a6adb4;
  height: 40px;
  width: max-content;
  padding-right: 20px;
}
.box3 {
  /* border: 1px solid blue; */
  width: 200px;
  height: 82px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
.footer a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #cbd0d3;
}
