/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --redColor: #f84b67;
  --serviceIconBg1: #fca6a6;
  --serviceIconBg2: #71beb4;
  --serviceIconBg3: #ed92dd;
  --serviceIcon: #050817;
  --fSecColor: #1f2338;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #7f7f7f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}


/* ================ Header CSS ================= */

.h__container {
  background: #000;
  color: #fff;
  padding: 0 15px;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
}
.scrolling-active {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 99;
  width: 100%;
  position: fixed;
  top: -70px;
  left: 0;
  transform: translateY(70px);
  transition: transform 0.5s ease, background 0.5s ease;
}
.menu__navtoggler span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--redColor);
  margin: auto;
  margin-bottom: 4px;
  transition: all 400ms linear;
  cursor: pointer;
}
.menu__navtoggler[aria-expanded="true"] span:first-child {
  transform: rotate(-45deg);
  position: relative;
  top: 7.5px;
}
.menu__navtoggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}
.menu__navtoggler[aria-expanded="true"] span:last-child {
  transform: rotate(45deg);
  bottom: 6px;
  position: relative;
}
a {
  color: white;
  text-decoration: none;
}
.h__container__menu,
.menu__item__submenu {
  list-style-type: none;
}
.menu__item {
  padding: 10px;
}
.menu__navtoggler button {
  padding: 9px 5px;
  background-color: transparent;
  border: 1px transparent;
}
.menu__item:not(.menu__item__button--p) a:hover,
.menu__item a:hover::after {
  color: var(--redColor);
}

/* Mobile menu */
.h__container__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.h__container__menu li a {
  display: block;
  padding: 15px 5px;
}
.h__container__menu li.subitem a {
  padding: 15px;
}
.menu__logo {
  order: 0;
}
.menu__shopicon {
  order: 1;
  display: block;
  width: fit-content;
  flex: 1;
  text-align: right;
}
.menu__navtoggler {
  order: 2;
  font-size: 20px;
  flex: 0.2;
  text-align: right;
}
.menu__item.menu__item__button--p {
  order: 3;
}
.menu__item {
  order: 4;
  width: 100%;
  text-align: center;
  display: none;
}
.active .menu__item {
  display: block;
}
.menu__item__button--p.menu__item__button--s {
  /* divider between buttons and menu links */
  border-bottom: 1px solid var(--redColor);
}

/* Submenu up from mobile screens */
.menu__item__submenu {
  display: none;
}
.menu__item__submenu--active .menu__item__submenu {
  display: block;
  text-align: center;
  background: #fff;
  transition: all 0.3s ease-in;
}
.menu__item__hassubmenu i {
  font-size: 12px;
}
.menu__item__hassubmenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.submenu__subitem a {
  padding: 10px 15px;
  color: #1d1d1d;
  border-bottom: 1px solid #ededed;
}
.menu__item__submenu--active {
  background-color: #111;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  .h__container {
    background: #000;
  }
  .scrolling-active {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 99;
    width: 100%;
    position: fixed;
    top: -80px;
    left: 0;
    transform: translateY(80px);
    transition: transform 0.5s ease, background 0.5s ease;
  }
  .h__container__menu {
    justify-content: center;
  }
  .menu__logo {
    flex: 1;
  }
  .menu__item.menu__item__button--p {
    width: auto;
    order: 1;
    display: block;
  }
  .menu__shopicon {
    order: 2;
    flex: 1;
    text-align: right;
  }
  .menu__navtoggler {
    flex: 0.2;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .h__container__menu li.menu__item__button--p a {
    padding: 5px 10px;
    margin: 5px 0;
  }
  .menu__item__button--p a {
    background: var(--redColor);
    border: 1px solid var(--redColor);
  }
  .menu__item__button--p.menu__item__button--s {
    border: 0;
  }
  .menu__item__button--p.menu__item__button--s a {
    background: transparent;
    border: 1px solid var(--redColor);
  }
  .menu__item__button--p:hover {
    opacity: 0.8;
  }
}
@media only screen and (min-width: 992px) {
  .h__container {
    background: transparent;
  }
  .scrolling-active {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 99;
    width: 100%;
    position: fixed;
    top: -70px;
    left: 0;
    transform: translateY(70px);
    transition: transform 0.5s ease, background 0.5s ease;
  }
  .h__container__menu {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }
  .menu__logo {
    order: 0;
  }
  .menu__item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .menu__item__button--p {
    order: 2;
  }
  .menu__shopicon {
    order: 3;
    flex: 0.2;
    text-align: center;
  }
  .menu__item__submenu--active .menu__item__submenu {
    display: block;
    position: absolute;
    top: 120%;
    min-width: 200px;
    text-align: left;
    background: #fff;
    transition: all 0.3s ease-in;
  }
  .menu__navtoggler {
    display: none;
  }
  .menu__item.menu__shopicon {
    margin-left: 60px;
  }
  .menu__item__submenu--active {
    border-radius: 0;
    background-color: transparent;
  }
}
/* ================ Header CSS END ================= */

/* ================ Main CSS ================= */

/* Banner Section START */

.b__sec__container {
  position: relative;
  z-index: -1;
}

.b__sec__container img {
  display: block;
  max-width: 100%;
  height: min-content;
  margin-top: 80px;
}

/* Banner content  */
.b__sec__container__textbox {
  /* taking reference of image-container so that it flexible with image  */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 100%;
  color: #fff;
}
.b__sec__container__textbox__text {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 20px;
  width: 90%;
  height: min-content;
}
.b__sec__container__textbox__text h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}
.b__sec__container__textbox__text p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 50px;
}
.b__sec__container__textbox__text__btn {
  display: inline-block;
  background: var(--redColor);
  padding: 0 0 0 30px;
  border: 1px solid var(--redColor);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.b__sec__container__textbox__text i {
  background-color: #fff;
  padding: 18px 19px;
  margin-left: 17px;
  color: #000;
  border-radius: 0 0 0 21px;
}
@media only screen and (min-width: 768px) {
  .b__sec__container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .b__sec__container__textbox__text h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .b__sec__container img {
    margin-top: 0;
  }
  .b__sec__container__textbox__text h3 {
    font-size: 50px;
  }
  .b__sec__container__textbox__text {
    background: transparent;
    z-index: 1;
    margin-left: 50%;
    padding: 20px;
  }
}
/* Banner Section END */

/* Service section START */
.ser__sec__container {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ser__sec__container__single:nth-child(2) {
  margin-top: 50px;
}
.ser__sec__container__single {
  position: relative;
  margin: 0px 15px 30px;
  padding: 40px 30px 46px;
  border: 1px solid #edf1f6;
  max-width: 400px;
}
.ser__sec__container__single img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.ser__sec__container__single__sericon {
  width: 170px;
  height: 95px;
  text-align: center;
  line-height: 112px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.ser__sec__container__single__sericon__circle {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 80px;
  background-color: var(--serviceIconBg1);
  border-radius: 100%;
  z-index: -1;
}
.ser__sec__container__single:nth-child(2)
  .ser__sec__container__single__sericon__circle {
  background-color: var(--serviceIconBg2);
}
.ser__sec__container__single:nth-child(3)
  .ser__sec__container__single__sericon__circle {
  background-color: var(--serviceIconBg3);
}
.ser__sec__container__single__sericon i {
  font-size: 40px;
  color: var(--serviceIcon);
}
.ser__sec__container__single__text {
  text-align: left;
}
.ser__sec__container__single__text h5 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 18px;
}
.ser__sec__container__single__text p {
  line-height: 27px;
  font-size: 14px;
  margin-bottom: 35px;
}
.ser__sec__container__single__text a {
  font-size: 14px;
  color: #1d1d1d;
  position: relative;
  font-weight: 500;
}
.ser__sec__container__single__text a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 90px;
  background: #edf1f6;
}
/* Service section END */

/* About section START */
.abt__sec__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0;
}
.abt__sec__container__l {
  padding: 0 15px;
  flex:1 0 100%;
  max-width: 100%;
}
.abt__sec__container__l h4 {
  font-size: 45px;
  color: #1d1d1d;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  line-height: 58px;
}
.abt__sec__container__l h6 {
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  font-weight: 400;
  margin-bottom: 25px;
}

.abt__sec__container__l__abtbox {
  display: flex;
  flex-wrap: wrap;
}
.abt__sec__container__l__abtbox1 {
  flex: 1 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin: 40px 0px;
}
.abt__sec__container__l__abtbox1__icon {
  width: 170px;
  height: 95px;
  text-align: center;
  line-height: 112px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.abt__sec__container__l__abtbox1__icon i {
  font-size: 40px;
  color: var(--serviceIcon);
}
.abt__sec__container__l__abtbox1__circle {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 80px;
  background-color: var(--serviceIconBg1);
  border-radius: 100%;
  z-index: -1;
}
.abt__sec__container__l__text h5 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 18px;
}

.abt__sec__container__r{
  align-self: center;
}
.abt__sec__container__r img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {
  .l__break {
    display: table;
  }
  .abt__sec__container{
    flex-wrap: nowrap;
  }
  .abt__sec__container__l {
    flex:0 0 50%;
    max-width: 50%;
  }
  .abt__sec__container__l__abtbox1 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin: 40px 0px;
  }
}
/* About section END */

/* ================ Main CSS END ================= */

/* ================ Footer CSS ================= */

/* Footer section START  */
.f__container {
  padding: 60px 30px;
  background-color: var(--fSecColor);
}
.f__container__widget__single__logo {
  margin-top: 28px;
}
.f__container ul li {
  list-style: none;
  padding: 0;
}
.f__container__widget {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.f__container__fbottom {
  margin: 50px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid #4c4f60;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.f__container__widget__single {
  padding: 0 15px;
  margin: 0px 0px 24px;
  flex: 0 0 50%;
  max-width: 50%;
}
.f__container__widget__single:nth-child(4) {
  flex: 0 0 67%;
  max-width: 67%;
}
.f__container__widget__single h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fff;
}
.f__container__widget__single p,
.f__container__widget__single a {
  color: #7b838a;
}
.f__container__widget__single p {
  margin: 0px 0px 16px;
}
.f__container__widget__single input {
  height: 40px;
  width: 100%;
  border: 1px solid #eeeeee;
  font-weight: 400;
  background: #fff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 22px;
  border-radius: 25px;
  color: #888888;
  margin-right: -25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.f__container__widget__single .f__container__widget__fwrap__fbtn {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0px 21px 0px 21px;
  border: 0;
  background: var(--redColor);
  color: #fff;
  position: relative;
  left: 0;
  text-transform: capitalize;
  z-index: 999;
  cursor: pointer;
}
.f__container__widget__fwrap__ipgroup {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.f__container__fbottom__fsocial a {
  margin-left: 3px;
  width: 32px;
  color: #8f919c;
  display: inline-grid;
  text-align: center;
  height: 32px;
  align-content: center;
  transition: all 300ms linear 0s;
}
.f__container__fbottom p a {
  color: var(--redColor);
}
.f__container__fbottom {
  display: flex;
  align-items: center;
}
.f__container__fbottom__text {
  flex: 0 0 66.667%;
}
@media only screen and (min-width: 768px) {
  .f__container__widget__single {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .f__container__widget__single {
    padding: 0 15px;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .f__container__widget__single:nth-child(4) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
/* ================ Footer CSS END ================= */
