/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --redColor: #f84b67;
  --serviceIconBg1: #fca6a6;
  --serviceIconBg2: #71beb4;
  --serviceIconBg3: #ed92dd;
  --serviceIcon: #050817;
  --fSecColor: #1f2338;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #7f7f7f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

.header-container {
  background: #000;
  color: #fff;
  padding: 0 15px;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
}
.scrolling-active {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 99;
  width: 100%;
  position: fixed;
  top: -70px;
  left: 0;
  transform: translateY(70px);
  transition: transform 0.5s ease, background 0.5s ease;
}
.navbar-toggler span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--redColor);
  margin: auto;
  margin-bottom: 4px;
  transition: all 400ms linear;
  cursor: pointer;
}
.navbar-toggler[aria-expanded="true"] span:first-child {
  transform: rotate(-45deg);
  position: relative;
  top: 7.5px;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler[aria-expanded="true"] span:last-child {
  transform: rotate(45deg);
  bottom: 6px;
  position: relative;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.item {
  padding: 10px;
}
.navbar-toggler button {
  padding: 9px 5px;
  background-color: transparent;
  border: 1px transparent;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: var(--redColor);
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.logo {
  order: 0;
}
.shop-icon {
  order: 1;
  display: block;
  width: fit-content;
  flex: 1;
  text-align: right;
}
.navbar-toggler {
  order: 2;
  font-size: 20px;
  flex: 0.2;
  text-align: right;
}
.item.button {
  order: 3;
}
.item {
  order: 4;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px solid var(--redColor);
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
  text-align: center;
  background: #fff;
  transition: all 0.3s ease-in;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
  color: #1d1d1d;
  border-bottom: 1px solid #ededed;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

.banner-container {
  position: relative;
  z-index: -1;
}

.banner-container img {
  display: block;
  max-width: 100%;
  height: min-content;
  margin-top: 80px;
}

/* Banner content  */
.banner-container-content {
  /* taking reference of image-container so that it flexible with image  */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 100%;
  color: #fff;
}
.banner-content-box {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 20px;
  width: 90%;
  height: min-content;
}
.banner-content-box h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}
.banner-content-box p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 50px;
}
.banner_btn {
  display: inline-block;
  background: var(--redColor);
  padding: 0 0 0 30px;
  border: 1px solid var(--redColor);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.banner-content-box i {
  background-color: #fff;
  padding: 18px 19px;
  margin-left: 17px;
  color: #000;
  border-radius: 0 0 0 21px;
}
.l-break {
  line-break: strict;
}

/* Service section  */
.service-container {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.single-service:nth-child(2) {
  margin-top: 50px;
}
.single-service {
  position: relative;
  margin: 0px 15px 30px;
  padding: 40px 30px 46px;
  border: 1px solid #edf1f6;
  max-width: 400px;
}
.single-service img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.service-icon {
  width: 170px;
  height: 95px;
  text-align: center;
  line-height: 112px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.service-icon-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 80px;
  background-color: var(--serviceIconBg1);
  border-radius: 100%;
  z-index: -1;
}
.single-service:nth-child(2) .service-icon-container {
  background-color: var(--serviceIconBg2);
}
.single-service:nth-child(3) .service-icon-container {
  background-color: var(--serviceIconBg3);
}
.service-icon i {
  font-size: 40px;
  color: var(--serviceIcon);
}
.service-content {
  text-align: left;
}
.service-content h5 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 18px;
}
.service-content p {
  line-height: 27px;
  font-size: 14px;
  margin-bottom: 35px;
}
.service-content a {
  font-size: 14px;
  color: #1d1d1d;
  position: relative;
  font-weight: 500;
}
.service-content a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 90px;
  background: #edf1f6;
}
/* Footer Menu  */
.footer-container {
  padding: 60px 30px;
  background-color: var(--fSecColor);
}
.footer-logo {
  margin-top: 28px;
}
.footer-container ul li{
  list-style: none;
  padding: 0;
}
.footer-widget {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-bottom {
  margin: 50px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid #4c4f60;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-footer-widget{
  padding: 0 15px;
  margin: 0px 0px 24px;
  flex: 0 0 50%;
  max-width: 50%;
}
.single-footer-widget:nth-child(4){
  flex: 0 0 67%;
  max-width: 67%;
}
.single-footer-widget h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fff;
}
.single-footer-widget p , .single-footer-widget a {
    color: #7b838a;
}
.single-footer-widget p{
  margin: 0px 0px 16px ;
}
.single-footer-widget input {
  height: 40px;
  width: 100%;
  border: 1px solid #eeeeee;
  font-weight: 400;
  background: #fff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 22px;
  border-radius: 25px;
  color: #888888;
  margin-right: -25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.single-footer-widget .footer-btn {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0px 21px 0px 21px;
  border: 0;
  background: var(--redColor);
  color: #fff;
  position: relative;
  left: 0;
  text-transform: capitalize;
  z-index: 999;
  cursor: pointer;
}
.input-group{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.footer-social a {
  margin-left: 3px;
  width: 32px;
  color: #8f919c;
  display: inline-grid;
  text-align: center;
  height: 32px;
  align-content: center;
  transition: all 300ms linear 0s;
}
.footer-bottom p a {
  color: var(--redColor);
}
.footer-bottom{
  display: flex;
  align-items: center; 
}
.footer-text{
  flex: 0 0 66.667%;

}

/*--================ Tablet View =================*/
@media only screen and (min-width: 768px) {
  .header-container {
    background: #000;
  }
  .scrolling-active {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 99;
    width: 100%;
    position: fixed;
    top: -80px;
    left: 0;
    transform: translateY(80px);
    transition: transform 0.5s ease, background 0.5s ease;
  }
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .shop-icon {
    order: 2;
    flex: 1;
    text-align: right;
  }
  .navbar-toggler {
    flex: 0.2;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 5px 10px;
    margin: 5px 0;
  }
  .button a {
    background: var(--redColor);
    border: 1px solid var(--redColor);
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px solid var(--redColor);
  }
  .button:hover {
    opacity: 0.8;
  }
  .banner-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .banner-content-box h3 {
    font-size: 30px;
  }
  .single-footer-widget{
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/*--================ Desktop View =================*/
@media only screen and (min-width: 992px) {
  .header-container {
    background: transparent;
  }
  .scrolling-active {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 99;
    width: 100%;
    position: fixed;
    top: -70px;
    left: 0;
    transform: translateY(70px);
    transition: transform 0.5s ease, background 0.5s ease;
  }
  .menu {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .shop-icon {
    order: 3;
    flex: 0.2;
    text-align: center;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    top: 120%;
    min-width: 200px;
    text-align: left;
    background: #fff;
    transition: all 0.3s ease-in;
  }
  .navbar-toggler {
    display: none;
  }
  .item.shop-icon {
    margin-left: 60px;
  }
  .submenu-active {
    border-radius: 0;
    background-color: transparent;
  }

  .banner-container img {
    margin-top: 0;
  }
  .banner-content-box h3 {
    font-size: 50px;
  }
  .banner-content-box {
    background: transparent;
    z-index: 1;
    margin-left: 50%;
    padding: 20px;
  }

  .single-footer-widget{
    padding: 0 15px;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .single-footer-widget:nth-child(4){
    flex: 0 0 25%;
    max-width: 25%;
  }
}
