* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
.container {
  height: 100vh;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(21, 62, 144)
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #ffffff;
  height: 75%;
  width: 90%;
  display: flex;
  box-shadow: 0 14px 28px rgba(21, 62, 144, 1),
    0 10px 10px rgba(21, 62, 144, 0.8);
}
.login-image {
  /* background-color: blueviolet; */
  width: 40%;
  height: auto;
  display: flex;
}
img {
  display: flex;
  width: 100%;
  height: auto;
}

.form-group{
  margin: 10px 50px;
  width: 60%;
}
.form-group h1{
  margin: 0 0 20px 0;
}
.d-block{
  display: block;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-col1{
  width: 48%;
}

.row-col2{
  width: 48%;
}
.row input{
  width: 100%;
}
.gender{
  
}
label{
  font-weight: bold;
  margin-bottom: 5px;
}
button{
  border-radius: 15px;
  background-color: #0e49b5;
  color: #fff;
  width: 100%;
  height: 30px;
  border: 1px solid #0e49b5;
  outline: none;
  margin: 10px 0;
}

h1{
  font-size: 2rem;
}

@media only screen and (max-width: 950px){
  html{
    font-size: 8px;
  }

}
input[type=text],input[type=email],input[type=password],input[type=number]{
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
