* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  width: 100vw;
}
.formContainer__element {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.formContainer__element__formGroup{
  margin: 0 16px;

}
.formContainer__element h1 {
  text-align: center;
}

.prevnextbtn {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formContainer__element__gender {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 12px 20px;
}
input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: 1px 1px 5px 2px #fa6980;
}
select {
  appearance: none; /* Remove default arrow */
  background-image: url("./images/downArrow-select.svg"); /* Add custom arrow */
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
}
.btn {
  background-color: #fa6980;
  border: 1px solid #fa6980;
  border-radius: 16px;
  outline: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}
.btn:hover {
  background-color: #af4959;
  border: 1px solid #af4959;
}
